@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.single-chart {
  width: 100%;
  justify-content: space-around;
}
.circular-chart {
  display: block;
  max-width: 100%;
  max-height: 300px;
}
.circle-bg {
  fill: none;
  stroke: #FFEFE0;
  stroke-linecap: round;
  stroke-width: 3; }

.circle {
  fill: none;
  stroke-width: 3;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
0% { stroke-dasharray: 0 100; }
}
.percentage {
  font-size: 0.4em;
  text-anchor: middle;
}

.percentage2 {
  font-size: 0.25em;
  text-anchor: middle;
}

.loads {
  font-size: 0.36em;
  text-anchor: middle;
}
