<.header>
  New Training
  <:subtitle>Use this form to manage training records in your database.</:subtitle>
</.header>

<.training_form changeset={@changeset} action={~p"/trainings"} />

<.back navigate={~p"/trainings"}>Back to trainings</.back>
